# Gradle
.gradle/
build/
app/build/

# Android Studio / IntelliJ
.idea/
*.iml
*.ipr
*.iws
.navigation/

# Local configuration
local.properties

# Signing secrets & Keystores
*.jks
*.keystore
*.pk8
*.pem
private_key.pe1

# OS files
.DS_Store
Thumbs.db
